#contents {
    padding: 3em;
    text-align:center;
}
.center {
    display:block;
    margin: 0.5em auto; 
    text-align:center
}

.form {
    line-height: 2.5em;
}

#hello-user {
    color: red;
    font-size: 200%;
    font-weight: bold;
}

.marked-font {
    font-size: 150%;
    font-weight: bold;
    color: red;
}

